.dropdown-container {
  /* Style the container for overall appearance (e.g., border, padding) */
}

.dropdown-select {
  /* Provided styles for the select element */
  position: relative;
  overflow: hidden;
  padding-bottom: 10px; /* Adjust as needed */
  width: 100%; /* Adjust the width as needed */
  padding: 10px 20px;
  min-width: 100%;
  font-size: 18px; 
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #116466;
  border-radius: 80px;
  color: white;
  margin: 0;
}

.description-container {
  /* Style the description container for background, padding, etc. */
  padding: 20px; /* Example for padding */
  margin-top: 10px; /* Example for spacing between select and description */
  border-radius: 15px;
  text-align: center;
  background-color: #116466;
}

.description-text {
  /* Style the description text for font size, line height, etc. */
}
